html, body{
    background-color: rgb(70, 119, 161);
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.mainContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.homeContainer{
    background-color: bisque;
    height: 30em;
    width: 100%;
}

.prueba{
    background-color: aqua;
    height: 20em;
    width: 100%;
}

/*Menú inferior*/
.menuContainer{
    background-color: beige;
    width: 100%;
    height: 7%;
    display: flex;
    position: fixed;
    bottom: 0em;
}

.menuFather{
    background-color: rgb(145, 145, 145);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuHome{
    background-image: url(../img/iconHome.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuWork{
    background-image: url(../img/iconWork.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuAboutMe{
    background-image: url(../img/iconAboutMe.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuContact{
    background-image: url(../img/iconContact.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0em 0em 1em 0em rgb(255, 255, 255);
    border-radius: 1.5em;
}

.linkMenu{
    width: 60%;
    height: 100%;
    font-size: 0;
}

/*Cambio de iconos a texto al llegar a 568px*/
@media screen and (min-width: 568px){
.menuHome{
    background-image: url(../img/textInicio.png);
    background-size: 50%;
}
  
.menuWork{
    background-image: url(../img/textTrabajos.png);
    background-size: 50%;
}
    
.menuAboutMe{
    background-image: url(../img/textSobremi.png);
    background-size: 50%;
}
    
.menuContact{
    background-image: url(../img/textContacto.png);
    background-size: 50%;
}
  
}/*Cierre del media query*/
 
/*Cambio de estilo al llegar a 768px*/
@media screen and (min-width: 768px){
/*Menú pasa a la parte superior de la pantalla*/
.menuContainer{
    top: 0em;
}
       
.linkMenu{
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 1s;
    color: white;
    height: 90%;
}

.linkMenu:hover{
    box-shadow:inset 0em 0em 1em 0em rgb(255, 255, 255);
    border-radius: 1.5em;
    transition: 1s;
}

.menuHome{
    background-image: none;    
}

.menuWork{
    background-image: none;
}

.menuAboutMe{
    background-image: none;
}

.menuContact{
    background-image: none;
    box-shadow: none;
}

.menuContact a{
    box-shadow:inset 0em 0em 1em 0em rgb(255, 255, 255);
    border-radius: 1.5em;
}

}/*cierre del media query*/
    
@media screen and (min-width: 1024px){
        
}