html, body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
/*Padre de todo el contenido de la página, a excepción del menú*/
.mainContainer{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}

.homeContainer{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeContainerBorder{
    justify-content: center;
    width: 90%;
    height: 90%;
    display: flex;
    border: 0.4em solid rgb(145, 145, 145);
    border-radius: 1em;
}

.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tittleH3{
    margin: 2em;
    padding: 0;
    text-align: center;
    font-size: 4vmax;/*modificar si se descuadra el tamaño del texto*/
    font-family: Droid Serif,Georgia,serif;
    color: rgb(70, 119, 161);
    font-weight: bold;
}

.contentP{
    margin: 2em;
    padding: 0em;
    text-align: center;
    font-size: 2.6vmax;/*modificar si se descuadra el tamaño del texto*/
    font-family: Droid Serif,Georgia,serif;
    color: rgb(70, 119, 161);
}

/*Menú inferior*/
.menuContainer{
    background-color: beige;
    width: 100%;
    height: 7%;
    display: flex;
    position: fixed;
    bottom: 0em;
}

.menuFather{
    background-color: rgb(145, 145, 145);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuHome{
    background-image: url(../img/iconHome.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0em 0em 1em 0em rgb(255, 255, 255);
    border-radius: 1.5em;
}

.menuWork{
    background-image: url(../img/iconWork.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuAboutMe{
    background-image: url(../img/iconAboutMe.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuContact{
    background-image: url(../img/iconContact.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkMenu{
    width: 60%;
    height: 100%;
    font-size: 0;
}

/*Cambio de iconos a texto al llegar a 568px*/
@media screen and (min-width: 568px){
    .tittleH3{
    margin: 1.5em;
}
    
.contentP{
    margin: 1em 2.5em;
    padding: 0em;
}

.menuHome{
    background-image: url(../img/textInicio.png);
    background-size: 50%;
}

.menuWork{
    background-image: url(../img/textTrabajos.png);
    background-size: 50%;
}

.menuAboutMe{
    background-image: url(../img/textSobremi.png);
    background-size: 50%;
}

.menuContact{
    background-image: url(../img/textContacto.png);
    background-size: 50%;
}

}/*Cierre del media query*/

/*Cambio de estilo al llegar a 768px*/
@media screen and (min-width: 768px){
/*Menú pasa a la parte superior de la pantalla*/
.mainContainer{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
}


.tittleH3{
    margin: 2em;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 4vmax;/*modificar si se descuadra el tamaño del texto*/
}

.contentP{
    margin: 1em;
    font-size: 1.8vmax;/*modificar si se descuadra el tamaño del texto*/
    font-family: Droid Serif,Georgia,serif;
}

.menuContainer{
    top: 0em;
    width: 100%;
    height: 7%;
}

.menuFather{
    background-color: rgb(255, 255, 255);
}

.homeContainer{
    width: 100%;
    height: 93%;
}

    
.linkMenu{
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 1s;
    color: rgb(70, 119, 161);
    height: 90%;
}

.linkMenu:hover{
    box-shadow:inset 0em 0em 1em 0em rgb(70, 119, 161);
    border-radius: 1.5em;
    transition: 1s;
}

.menuHome{
    background-image: none;
    box-shadow: none;
}

.menuHome a{
    text-decoration: underline;
}

.menuWork{
    background-image: none;
}

.menuAboutMe{
    background-image: none;
}

.menuContact{
    background-image: none;
}

}/*Cierre del media query*/

@media screen and (min-width: 1024px){
    
}