html, body{
    background-color: rgb(255, 255, 255);
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.mainContainer{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.homeContainer{
    background-color: rgb(51, 202, 83);
    height: 93%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.gridContainer{
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}

.github{
    display: flex;
    justify-content: center;
    align-items: flex-start; 
}

.github a{
    height: 60%;
    display: flex;
}

.github a img{
    height: 100%;
}

.email{
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

.email a{
    height: 60%;
    display: flex;
}

.email a img{
    height: 100%;
}

.phone{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.phone a{
    height: 60%;
    display: flex;
}

.phone a img{
    height: 100%;
}

.linkedIn{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.linkedIn a{
    height: 60%;
    display: flex;
}

.linkedIn a img{
    height: 100%;
}

/*Menú inferior*/
.menuContainer{
    background-color: beige;
    width: 100%;
    height: 7%;
    display: flex;
    position: fixed;
    bottom: 0em;
}

.menuFather{
    background-color: rgb(145, 145, 145);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuHome{
    background-image: url(../img/iconHome.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuWork{
    background-image: url(../img/iconWork.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuAboutMe{
    background-image: url(../img/iconAboutMe.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuContact{
    background-image: url(../img/iconContact.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0em 0em 1em 0em rgb(255, 255, 255);
    border-radius: 1.5em;
}

.linkMenu{
    width: 60%;
    height: 100%;
    font-size: 0;
}

/*Cambio de iconos a texto al llegar a 568px*/
@media screen and (min-width: 568px){
.menuHome{
    background-image: url(../img/textInicio.png);
    background-size: 50%;
}
  
.menuWork{
    background-image: url(../img/textTrabajos.png);
    background-size: 50%;
}
    
.menuAboutMe{
    background-image: url(../img/textSobremi.png);
    background-size: 50%;
}
    
.menuContact{
    background-image: url(../img/textContacto.png);
    background-size: 50%;
}
  
}/*Cierre del media query*/
 
/*Cambio de estilo al llegar a 768px*/
@media screen and (min-width: 768px){
/*Menú pasa a la parte superior de la pantalla*/
.menuContainer{
    top: 0em;
}

.github a{
    height: 100%;
    border-radius: 50%;
    transition: 1s;
}

.email a{
    height: 100%;
    border-radius: 50%;
    transition: 1s;
}

.phone a {
    height: 100%;
    border-radius: 50%;
    transition: 1s;
}

.linkedIn a{
    height: 100%;
    border-radius: 50%;
    transition: 1s;
}

.github a:hover{
    box-shadow: 0em 0em 2em 2em rgb(70, 119, 161);
    transition: 1s;
}

.email a:hover{
    box-shadow: 0em 0em 2em 2em rgb(70, 119, 161);
    transition: 1s;
}

.phone a:hover{
    box-shadow: 0em 0em 2em 2em rgb(70, 119, 161);
    transition: 1s;
}

.linkedIn a:hover{
    box-shadow: 0em 0em 2em 2em rgb(70, 119, 161);
    transition: 1s;
}

.menuFather{
    background-color: rgb(255, 255, 255);
}
       
.linkMenu{
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 1s;
    color: rgb(70, 119, 161);
    height: 90%;
}

.linkMenu:hover{
    box-shadow:inset 0em 0em 1em 0em rgb(70, 119, 161);
    border-radius: 1.5em;
    transition: 1s;
}

.menuHome{
    background-image: none;    
}

.menuWork{
    background-image: none;
}

.menuAboutMe{
    background-image: none;
}

.menuContact{
    background-image: none;
    box-shadow: none;
}

.menuContact a{
    text-decoration: underline;
}

}/*cierre del media query*/
    
@media screen and (min-width: 1024px){
        
}